html {
    background-color: salmon;
    color: dodgerblue;
    font-family: monospace;
}

.Resources {
    border-radius: 0px;
    border: double;
    background-color: lightsalmon;
    box-sizing: border-box;
    border-color: black;
}