html{
    background-color: black ;
    font-weight: bolder;
    
}

p {
    color: yellow;
    font-size: +2;
    font-family: cursive;
    font-weight: bolder;
    font-style: italic;

}
h1{
    font-style: italic;
}

.grow img:hover {
    transform: scale(2,2);
    transition-duration: 1s;
    position: relative;
    box-shadow: pink;
}

.fun img:hover {
    image-rendering: crisp-edges;
    -moz-box-shadow: 0 0 10px #ccc;
    -webkit-box-shadow: 0 0 10px #ccc;
     box-shadow: 0 0 10px #ccc;
}
.fun :hover img {
    display: none;
  }