html{
    background-color: gold ;
    font-weight: bolder;
    font-style: sans-serif;
}

p {
    color: rebeccapurple;
    font-size: +2;

}
h1{
    font-style: italic;
}

.grow img {
    transform: scale(2,2);
    transition-duration: 2s;
}

.grow img{
    transition: ease;
}