html{
    background-color: olive ;
    font-weight: bolder;
}

p {
    color: rgb(199, 143, 255);
    font-size: +2;
    font-family: cursive;
    font-weight: bolder;
    font-style: italic;

}
h1{
    font-style: italic;
}

.grow img:hover {
    transform: scale(2,2);
    transition-duration: 1s;
    position: relative;
    box-shadow: goldenrod;
}