html {
    background-color: salmon;
    color: black;
    font-family: monospace;
    font-size: large;
}

.Resources {
    border-radius: 2px;
    border: double;
    background-color: pink;
    color: purple;
    box-sizing: border-box;
    border-color: black;
}